body {
    background-image: url(/Elements/memphis-mini-dark.png);
    background-color: black;
    font-family: 'IBM Plex Sans', sans-serif;
}

p,h1,h2,h3,h4,a {
    
    color: aliceblue;
    font-family: 'IBM Plex Sans', sans-serif;
}

h1,h2,h3,h4,h5,h6 {
    font-weight: bold;
}
